<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<title>The Burgers</title>
	</head>
	<body>
        <div id="banner"><h1>Eat Da Burger</h1></div>
        <div id="container">
		{{{ body }}}
        </div>
		
	</body>
</html>